/* ---------------------------------------------index.html--------------------------------------------- */
/* ---------------reset de css--------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
}
/* ---------------reset de css--------------- */
/* ----------------body------------ */


/* ----------------body ends------------ */
/*------------------ header------------------ */
.header-logo{
    width: 10 vw;
}


.nav-bg{
    background-color: #998 ;
}

/*------------------ header-end------------------ */
/* ------------------main------------------ */
main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.main__img{
    height: 100vh;
    width: 100vw;
    padding: 10px;
}

.men-women-img{
    display: flex;
    flex-wrap: wrap;
}

.main__img-men{
    padding: 10px;
    width: 50%;
}
.main__img-women{
    width: 50%;
    padding: 10px;
}

/* ---------------main accesorios----------- */

.main__accesorios{
    color: white;
    width: 100%;
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
    background-color: blue;
    justify-items: center;

}
.main__accesorios-p{
    color: white;
    font-size: 100px;
    justify-self: center;
}
.accesorios__img{
    height: 200px;
    border-radius: 50px;
    margin: 40px;  
}

/*---------- main novedades ---------- */

.main__novedades{
    background-color: red;
    width: 100%;
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
    justify-items: center;
}
.main__novedades-p{
    color: black;
    font-size: 100px;
    justify-self: center;
}

.novedades__img{
    height: 200px;
    border-radius: 50px;
    margin: 40px;
}

/* ------------------main-end------------------ */
/* --------------footer--------------- */
footer{
    background-color: #2d2d2d;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    margin-bottom: 0;
}

.footer__form{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.footer__label{
    color: #2d2d2d;
}
.footer__input{
    margin: 10px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
}

.derechos{
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}

.derechos__text{
    font-family: cursive;
    font-size: 20px;
}

.footer__h3-location{
    color: red;
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer__map{
    align-self: center;
    padding: 10px;
}
.footer__img-logo{
    width: 50%;
    align-self: center;
    padding-top: 100px;
}

/*---------------- footer-end-------------- */
/* ------------------------------------index.html ends--------------------------------------------- */




/* -------------------------------------------about us.html--------------------------------------------- */


.about-us__contenedor-principal{
    background-color: red;
}
.about-us__h2{
    color: white;
    text-align: center;
}
.about-us__p{
    color: lightblue  ;
}
/* -------------------------------------------about us.html--------------------------------------------- */


/* ---------------------------------contact us.html--------------------------------------------- */

.contact-us__form-container{
    background-color: grey;
}
.contact-us__h2{
    color: blue;
}
/* --------------------------------------contact us.html--------------------------------------------- */


/* ------------------------------------------men.html--------------------------------------------- */

/* --------------------------------------men.html--------------------------------------------- */


/* ----------------------------------------women.html--------------------------------------------- */
/* -----------------------------------------women.html--------------------------------------------- */

/* ----------------novedades y accesorios------------------------ */

.carrusel{
    display: flex;
}
.carrusel-novedades{
    margin: 10px;;
    width: 40vw;
    display: grid;
}

.carrusel-accesorios{
    margin: 10px;
    width: 40vw;
    display: grid;
}


/* -----------------novedades ty accesorios end-------------------- */

/* -----------------------------------shoping cart.html--------------------------------------------- */
/* ------------------------------------shoping cart.html--------------------------------------------- */

@media screen and (max-width:767px) {
    body{
        box-sizing: border-box;
        width: 100vw;
        height: 100wh;
    }
    /* header */
    header img{
        width: 30%;
    }
    header nav{
        margin: 10px;
    }
    header nav ul{
        display: block;
    }
    main
    .main__img{
        width: 100%;
    }
    /* main accesorios */
    .main__accesorios{
        height: 23vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 0; 
        margin-right: 10px;
    }
    .img-uno, .img-dos{
        border-radius: 15%;
        width: 28vw;
        height: 28vh;
    }
    .img-cuatro, .img-tres{
        display: none;
    }
    .accesorios__img{
        height: 100px
    }

    .main__accesorios-p{
        display: none;
    }
    /* main novedades  */
    .main__novedades{
        height: 23vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 0; 
        margin-right: 10px;
    }
    .novedades__img{
        height: 100px
    }

    .main__novedades-p{
        display: none;
    }
    /* footer */
    .footer__input{
        width: 325px;
    }
    .map{
        width: 80vw;
        height: 50vh;
    }   



    /* novedades y accesorios */
    .carrusel{
        display: flex;
        flex-direction: column;
    }
    .carrusel-novedades{
        width: 80vw;
        height: 100vh;
    }

    .carrusel-accesorios{
        width: 80vw;
        height: 100vh;
    }

}

@media screen and (min-width: 768px), (max-width: 1023px){
    header{
        justify-content: space-between;
    }
    /* main accesorios */
    .main__accesorios{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .main__accesorios-p{
        display: none;
    }
    /* main novedades */
    .main__novedades{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .main__novedades-p{
        display: none;
    } 
}
@media screen and (min-width:1023px){
    .main__accesorios{
        justify-self: center;
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
    .main__accesorios-p{
        display: inline;
    }
    .accesorios__img{
        width: 170px;
        height: 170px;
    }
    .img-cuatro{
        display: none;
    }

    .main__novedades{
        justify-self: center;
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
    .main__novedades-p{
        display: inline;
    }
    .novedades__img{
        width: 170px;
        height: 170px;
    }
    .img-cuatro{
        display: none;
    }
    .footer__input{
        width: 500px;
    }
} 

